$color-one: #328ea2;
$color-two: #2f7086;
$color-three: #295368;
$color-four: #213949;
$color-five: #16202b;


$typography-one: #000000;
$typography-two: rgb(154, 196, 136);
$typography-three: #81c5e7;
