@import '../../styles/variables.scss';

header {
  height: 100px;
  width: 100%;
  display: flex;
  z-index: 10;
  position: relative;
  background-color: white;
}

.container {
  padding: 0 20px;
}
